:root {
    /* One Light Scheme */
    --palette-light-primary: #4078f2;
    --palette-light-secondary: #a626a4;
    --palette-light-success: #50a14f;
    --palette-light-info: #0184bc;
    --palette-light-warning: #986801;
    --palette-light-danger: #e45649;
    --palette-light-light-color: #fafafa;
    --palette-light-dark-color: #383a42;
    --palette-light-gray-color: #a0a1a7;
    --palette-light-white-color: #ffffff;

    /* One Dark Scheme */
    --palette-dark-primary: #61afef;
    --palette-dark-secondary: #c678dd;
    --palette-dark-success: #98c379;
    --palette-dark-info: #56b6c2;
    --palette-dark-warning: #e5c07b;
    --palette-dark-danger: #e06c75;
    --palette-dark-light-color: #282c34;
    --palette-dark-dark-color: #abb2bf;
    --palette-dark-gray-color: #5c6370;
    --palette-dark-white-color: #ffffff;

    --border-radius: 4px;
    --transition: 200ms ease;
}

:root {
    --primary-color: var(--palette-light-primary);
    --secondary-color: var(--palette-light-secondary);
    --success-color: var(--palette-light-success);
    --info-color: var(--palette-light-info);
    --warning-color: var(--palette-light-warning);
    --danger-color: var(--palette-light-danger);
    --light-color: var(--palette-light-light-color);
    --dark-color: var(--palette-light-dark-color);
    --gray-color: var(--palette-light-gray-color);
    --white-color: var(--palette-light-white-color);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --success-color: var(--palette-dark-success);
        --info-color: var(--palette-dark-info);
        --warning-color: var(--palette-dark-warning);
        --danger-color: var(--palette-dark-danger);
        --light-color: var(--palette-dark-light-color);
        --dark-color: var(--palette-dark-dark-color);
    }
}

:root[data-theme="dark"] {
    --success-color: var(--palette-dark-success);
    --info-color: var(--palette-dark-info);
    --warning-color: var(--palette-dark-warning);
    --danger-color: var(--palette-dark-danger);
    --light-color: var(--palette-dark-light-color);
    --dark-color: var(--palette-dark-dark-color);
    background-color: var(--light-color);
    color: var(--dark-color);
}

:root[data-theme="light"] {
    --success-color: var(--palette-light-success);
    --info-color: var(--palette-light-info);
    --warning-color: var(--palette-light-warning);
    --danger-color: var(--palette-light-danger);
    --light-color: var(--palette-light-light-color);
    --dark-color: var(--palette-light-dark-color);
    background-color: var(--light-color);
    color: var(--dark-color);
}

.success {
    color: var(--success-color);
}

.danger {
    color: var(--danger-color);
}

.warning {
    color: var(--warning-color);
}

.info {
    color: var(--info-color);
}

* {
    transition: background-color 200ms ease, color 200ms ease;
}

html {
    font-family: system-ui, sans-serif;
    font-size: medium;
    color: var(--dark-color);
}

body {
    background-color: var(--light-color);
    font-family: sans-serif;
    margin: 0;
}

header,
main,
footer {
    display: block;
    padding: 1rem;
}

footer {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

nav {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

nav > a {
    font-weight: bold;
    text-decoration: none;
}

nav a:first-child {
    margin-right: auto;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit
}

a:hover, a:active {
    color: var(--primary-color);
}

table {
    border-collapse: collapse;
    width: calc(100% - 2rem);
    margin: 1rem;
}

thead {
    color: var(--dark-color);
    text-align: left;
    border-bottom: 1px solid var(--dark-color);
}

tr {
    border-bottom: 1px solid var(--gray-color);
}

td, th, tr {
    padding: 0.75rem;
}

dialog[open] {
    position: fixed;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    border: none;
    padding: 2rem;
    color: var(--dark-color);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

input[type="search"] {
    border-radius: 30px;
    margin: 1rem;
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
}

input, textarea, button, select {
    font-size: 1rem;
    padding: 0.5rem;
}

input[type="datetime-local"] {
    font-family: inherit;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px var(--primary-color);
}


button {
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.1);
}

fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin: 1rem;
    height: 2.5rem;
}

fieldset > input {
    display: inline-flex;
    flex: 1;
    border: none;
}

fieldset > input[type="datetime-local"] {
    flex: none;
}

fieldset > input[type="datetime-local"]:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

fieldset > input[type="search"] {
    padding: 0.5rem 1rem;
    margin: 0;
}

fieldset > input[type="search"]:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

fieldset > input:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

fieldset > input:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

fieldset > button {
    border: none;
    background-color: var(--primary-color);
    padding: 0 1rem;
    cursor: pointer;
}

fieldset > button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

fieldset > button:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

fieldset > select {
    display: inline-flex;
    border: none;
    height: auto;
}

fieldset > select:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    appearance: none;
}

progress {
    width: 100%;
}
