:root {
    --primary-color: magenta;
    --secondary-color: cyan;
    --success-color: green;
    --info-color: blue;
    --warning-color: yellow;
    --danger-color: red;
    --light-color: #f4f4f4;
    --dark-color: #222222;
}

html {
    font-size: medium;
    color: var(--dark-color);
}

body {
    background-color: var(--light-color);
    font-family: sans-serif;
    width: 100%;
    margin: 0;
}

main {
    display: block;
}

header {
    padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0.5rem 0;
}

nav {
    display: flex;
    padding: 1rem;
    align-items: center;
}

nav > a {
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit
}

a:hover, a:active {
    color: var(--primary-color);
}